<header>
  <title>Quên mật khẩu</title>
</header>
<div class="login-right" >
  <div class="container">
    <h3><strong>Nhập Email</strong></h3>
    <div class="login-top">

      <div class="form-info" style="">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <input formControlName="email" id="email" type="email" type="tel" placeholder="Email đăng ký*" style="margin-left: 190px;">
          <div class="error-place">
            <div *ngFor="let error of error_messages.email">
              <small class="text-danger" style="margin-left: 230px"
                     *ngIf="formGroup.get('email')!.hasError(error.type) && (formGroup.get('email')!.dirty || formGroup.get('email')!.touched)">
                {{error.message}}</small>
            </div>
          </div>
          <div class="text-right p-t-8 p-b-31" >
          </div>

          <div *ngIf="isSubmited then submited else notsubmited"></div>
          <ng-template #notsubmited>
            <label class="hvr-sweep-to-right">
              <input type="submit" value="Gửi email xác nhận" [disabled]="!formGroup.valid">
            </label>
            <p>Bạn đã có tài khoản? <a href="login/dangnhap/client">Đăng nhập</a></p>
<!--            <label class="hvr-sweep-to-right">-->
<!--              <input type="submit" value="Hủy" routerLink="/login/dangnhap/client">-->
<!--            </label>-->
          </ng-template>
          <ng-template #submited>
            <label class="hvr-sweep-to-right">
              <input type="submit" value="Gửi email xác nhận">
            </label>
            <p>Bạn đã có tài khoản? <a href="login/dangnhap/client">Đăng nhập</a></p>
          </ng-template>
          <!--            <input type="submit" value="Gửi email xác nhận">-->
        </form>
      </div>
    </div>
  </div>
</div>
