<header>
  <title>
    Cập nhật trạng thái tài khoản
  </title>
</header>
<div class="d-flex flex-column">
  <div id="content">
    <form [formGroup]="contactForm"  class="form-horizontal" role="form">
      <h2>Cập Nhật Tài Khoản</h2>
      <div class="form-group">
        <label for="username" class="col-sm-3 control-label">Tên Đăng Nhập</label>
        <div class="col-sm-9">
          <input [(ngModel)]="account.username" formControlName="username" type="text" id="userName"
                 placeholder="Tên Đăng Nhập" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Mật Khẩu</label>
        <div class="col-sm-9">
          <input [(ngModel)]="account.password" formControlName="password" type="password" id="password"
                 placeholder="Mật khẩu" class="form-control">
          <!--          <div *ngIf="!contactForm.controls.passWord?.valid && (contactForm.controls.passWord?.dirty) || contactForm.controls.passWord?.touched" >-->
          <!--            <span style="color:red">Vui Lòng nhập Tên Mật khẩu</span>-->
          <!--          </div>-->
        </div>
      </div>
      <div class="form-group">
        <label id="status" class="col-sm-3 control-label">Trạng Thái</label>
        <div class="col-sm-9">
          <label class="switch">
            <input type="checkbox" [(ngModel)]="account.status" formControlName="status">
            <span class="slider round"></span>
          </label>
          <td>
        </div>
      </div>
      <!--        <button  type="submit" class="btn btn-primary btn-block">Cập Nhật</button>-->
      <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Cập Nhật</a>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
           aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Thông Báo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Bạn muốn cập nhật tài khoản vào dữ liệu
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
              <button type="submit" class="btn btn-warning" (click)="OnEdit()">Cập Nhật</button>
            </div>
          </div>
        </div>
      </div>
    </form> <!-- /form -->

  </div>
</div>
