.carousel-inner {
  position: relative;
  width: 69%!important;
  overflow: hidden;
  margin: auto;
  height: 800px;
}
.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 13%;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
}
.carousel-inner img {
  width: 100%;
  height: 669px;
}
.carousel-inner {
  position: relative;
  width: 69% !important;
  overflow: hidden;
  margin: auto;
  height: 699px;
  padding: 16px 0;
}
.btn{
  background: #0cbd2f;
  color: white;
}
/*////////Modal//////////////*/
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 30px;
  font-weight: bold;
  color: #db1515;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  #huy, #delete {
    width: 100%;
  }
}
