
<div class="box-cv" style="width: 90%;margin-left: 5%">
  <div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <form class="search-form">
      <input type="hidden" name="step_id" value="0">
      <div class="row">
        <div class="col-lg-4">
          <input type="text" name="keyword" id="keyword"
                 placeholder="Tìm kiếm " value=""
                 class="form-control">
        </div>
        <div class="col-lg-2">
          <button class="btn btn-seach form-control">Tìm kiếm</button>
        </div>
      </div>
    </form>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách hồ sơ</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr class="tr-shadow">
              <th>STT</th>
              <th>Tên hồ sơ</th>
              <th>Ngày nhận CV</th>
              <th>Trạng thái</th>
              <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tr-shadow" *ngFor="let xem of xemcv; index as i">
              <td>
                <label>{{xem.idXemcv}}</label>
              </td>
              <td>
                <div class="row">
                  <div class="col-sm-2 ">
                    <a href="###" class="company-logo">
                      <img src="https://static.topcv.vn/company_logos/cong-ty-cp-giao-duc-educa-corporation-6d67556358b65494d801a26a77be21fb-5ea7b55a0ca31.jpg" style="height: 60px">
                    </a>
                  </div>
                  <div class="col-sm-10">
                    <h5 class="job-title">
                      <a href="#">
                        <span>{{xem.name}}</span>
                      </a>
                    </h5>
                    <div class="#">
                      <a>{{xem.chucdanh}}</a>
                    </div>
                  </div>
                </div>
              </td>
              <td>{{xem.ngayNap}}</td>
              <td>
                <span class="status--process">Đạt yêu cầu</span>
              </td>
              <td>
                <div class="table-data-feature">
                  <div class="table-data-feature">
                    <button type="button" class="item btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" data-placement="top" title="" data-original-title="Seen">
                      <i class="fa fa-eye"></i>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">xem CV</h4>
                          </div>
                          <div class="modal-body">
                            <p></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Xác nhận</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>

            </tbody>

          </table>
          <div class="row">
            <div class="col-sm-12 col-md-7">
              <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                <ul class="pagination"><li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Trước</a>
                </li>
                  <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                  </li>
                  <li class="paginate_button page-item next disabled" id="dataTable_next">
                    <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">Sau</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
