
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Thanh Toán</title>

<!-- Google fonts -->
<link href="//fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">

<!-- Template CSS -->
<!--  <link rel="stylesheet" href="src/assets/pay/css/style-starter.css">-->
<body>
<section class="pricing-columns pricing-section py-5" id="pricing">
  <div class="container pricing-style-w3ls py-lg-5 py-md-4">
    <div class="title-content text-center">
      <h3 class="title-big">Gói Dịch Vụ</h3>
      <p class="mt-3"></p>
    </div>
    <div class="text-center mt-5 mb-lg-4">
      <label class="toggler toggler--is-active" id="filt-monthly">Gói Tháng</label>
      <div class="toggle">
        <input type="checkbox" id="switcher" class="check">
        <b class="switch"></b>
      </div>
      <label class="toggler" id="filt-hourly">Gói Năm</label>
    </div>
    <div id="monthly">
      <div class="row pricing-chart">
        <div class="col-lg-4">
          <div class="plan popular">
            <h3 class="pop-plan">Gói miễn phí</h3>
            <div class="price mb-4" style="margin-top: 10px">
              <span class="dollar">$</span>
              <span class="amount" data-dollar-amount="19">0</span>
              <span class="month">/tháng</span>
            </div>
            <ul>
              <li><span class="fa fa-check"></span>Đăng tối đa 10 bài</li>
              <li><span class="fa fa-check"></span>Số bài đăng trong 1 ngày: 1</li>
              <li><span class="fa fa-check"></span>Lưu trữ CV mãi mãi</li>
              <li class="not-available"><span class="fa fa-times"></span>Nhận CV tốt tại đây</li>
              <li class="not-available"><span class="fa fa-times"></span>Tải CV PDF</li>
            </ul>
            <a class="btn btn-outline-primary btn-style mt-lg-5 mt-4" href="#url">Thanh Toán</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="plan popular">
            <h3 class="pop-plan">Gói 3 tháng</h3>
            <div class="price mb-4" style="margin-top: 10px">
              <span class="dollar">$</span>
              <span class="amount" data-dollar-amount="39">39</span>
              <span class="month">/tháng</span>
            </div>
            <ul>
              <li><span class="fa fa-check"></span>Đăng tối đa 30 bài</li>
              <li><span class="fa fa-check"></span>Số bài đăng trong 1 ngày: 5</li>
              <li><span class="fa fa-check"></span>Quản lý CV mãi mãi</li>
              <li><span class="fa fa-check"></span>Tìm được nhiều ứng viên tốt</li>
              <li class="not-available"><span class="fa fa-times"></span>Nhận được CV tốt</li>
            </ul>
            <a class="btn btn-primary btn-style mt-lg-5 mt-4" href="#" routerLink="/paypal">Thanh Toán</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="plan popular">
            <h3 class="pop-plan">Gói 5 tháng</h3>
            <div class="price mb-4" style="margin-top: 10px">
              <span class="dollar">$</span>
              <span class="amount" data-dollar-amount="49">49</span>
              <span class="month">/tháng</span>
            </div>
            <ul>
              <li><span class="fa fa-check"></span>Đăng tối đa 40 bài</li>
              <li><span class="fa fa-check"></span>Số bài đăng trong 1 ngày: 10</li>
              <li><span class="fa fa-check"></span>Quản lý CV mãi mãi</li>
              <li><span class="fa fa-check"></span>Tìm được nhiều ứng viên tốt</li>
              <li><span class="fa fa-check"></span>Nhận được CV tốt</li>
            </ul>
            <a class="btn btn-outline-primary btn-style mt-lg-5 mt-4" href="#url" routerLink="/paypal">Thanh Toán</a>
          </div>
        </div>
      </div>
    </div>
    <div id="hourly" class="hide">
      <div class="row pricing-chart">
        <div class="col-lg-4">
          <div class="plan popular">
            <h3 class="pop-plan">Gói 1 năm</h3>
            <div class="price mb-4" style="margin-top: 10px">
              <span class="dollar">$</span>
              <span class="amount" data-dollar-amount="60">60</span>
              <span class="month">/năm</span>
            </div>
            <ul>
              <li><span class="fa fa-check"></span>Đăng tối đa 70 bài</li>
              <li><span class="fa fa-check"></span>Số bài đăng trong 1 ngày: 20</li>
              <li><span class="fa fa-check"></span>Quản lý CV mãi mãi</li>
              <li class="navaible"><span class="fa fa-check"></span>Tìm ứng viên tốt nhanh chóng</li>
              <li class="available"><span class="fa fa-check"></span>Nhận được CV tốt</li>
            </ul>
            <a class="btn btn-outline-primary btn-style mt-lg-5 mt-4" href="#url" routerLink="/paypal">Thanh Toán</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="plan popular active">
            <h3 class="pop-plan">Gói 2 năm</h3>
            <div class="price mb-4" style="margin-top: 10px">
              <span class="dollar">$</span>
              <span class="amount" data-dollar-amount="95">95</span>
              <span class="month">/năm</span>
            </div>
            <ul>
              <li><span class="fa fa-check"></span>Đăng tối đa 90 bài</li>
              <li><span class="fa fa-check"></span>Số bài đăng trong 1 ngày: 30</li>
              <li><span class="fa fa-check"></span>Quản lý CV mãi mãi</li>
              <li class="available"><span class="fa fa-check"></span>Tìm ứng viên tốt nhanh chóng</li>
              <li class="available"><span class="fa fa-check"></span>Ưu tiên CV tốt nhất</li>
            </ul>
            <a class="btn btn-primary btn-style mt-lg-5 mt-4" href="#url" routerLink="/paypal">Thanh Toán</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="plan popular">
            <h3 class="pop-plan">Gói 3 năm</h3>
            <div class="price mb-4" style="margin-top: 10px">
              <span class="dollar">$</span>
              <span class="amount" data-dollar-amount="135">135</span>
              <span class="month">/năm</span>
            </div>
            <ul>
              <li><span class="fa fa-check"></span>Đăng tối đa 120 bài</li>
              <li><span class="fa fa-check"></span>Số bài đăng trong 1 ngày: 40</li>
              <li><span class="fa fa-check"></span>Tải và lưu CV không giới hạn</li>
              <li class="available"><span class="fa fa-check"></span>Ưu tiên tìm ứng viên tốt</li>
              <li class="available"><span class="fa fa-check"></span>Ưu tiên nhận được nhiều CV tốt nhất</li>
            </ul>
            <a class="btn btn-outline-primary btn-style mt-lg-5 mt-4" href="#url" routerLink="/paypal">Thanh Toán</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function () {
    $("#owl-demo1").owlCarousel({
      loop: true,
      nav: false,
      margin: 50,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        736: {
          items: 2,
          nav: false
        }
      }
    })
  })
</script>
<!-- //script for tesimonials carousel slider -->

<!-- script for tesimonials agency carousel slider -->
<script>
  $(document).ready(function () {
    $("#owl-agency").owlCarousel({
      loop: true,
      nav: false,
      margin: 50,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        736: {
          items: 1,
          nav: false
        }
      }
    })
  })
</script>
<!-- //script for tesimonials agency carousel slider -->

<!-- magnific popup -->
<!--<script src="src/assets/pay/js/jquery.magnific-popup.min.js"></script>-->
<script>
  $(document).ready(function () {
    $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
    });

    $('.popup-with-move-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom'
    });
  });
</script>
<!-- //magnific popup -->

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<!--/MENU-JS-->
<script>
  $(window).on("scroll", function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 80) {
      $("#site-header").addClass("nav-fixed");
    } else {
      $("#site-header").removeClass("nav-fixed");
    }
  });

  //Main navigation Active Class Add Remove
  $(".navbar-toggler").on("click", function () {
    $("header").toggleClass("active");
  });
  $(document).on("ready", function () {
    if ($(window).width() > 991) {
      $("header").removeClass("active");
    }
    $(window).on("resize", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
    });
  });
</script>
<!--//MENU-JS-->
<!--<script src="src/assets/pay/js/bootstrap.min.js"></script>-->
</body>



