
<head>
  <meta charset="utf-8">
  <meta name="author" content="John Doe">
  <meta name="description" content="">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tìm kiếm</title>
</head>
<section id="intro">
  <div class="carousel-item active">
    <div class="carousel-background"><img src="../../../assets/Client/minhhoang/internship-slide.jpg" alt=""></div>
    <div class="carousel-container">
      <div class="carousel-content">
        <h2 class="font-color-white">Tìm ngay cho mình một công việc phù hợp</h2>
      </div>
    </div>
  </div>
</section>
<div id="search-box" class="margin-none">
  <div class="container search-box">
    <form action="#" id="search-box_search_form_3"
          class="search-box_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between ">
      <div class="d-flex flex-row align-items-center justify-content-start inline-block">
        <div class="form-control" class=" search-box_search_input">
          <label class="mh">Nhập từ khoá</label>
          <div>
            <span class="large fa fa-pen-square search"></span>
            <input class="search-box_search_input" [(ngModel)]="titleNew" name="titleNew" placeholder="Nhập vào đây">
          </div>
        </div>
        <div class="form-control" class=" search-box_search_input">
          <label class="mh">Chọn ngành</label>
          <div>
            <span class="fa fa-tools large search "></span>
            <select class=" search-box_search_input " name="nganh"  required [(ngModel)]="nganh" (change)='onOptionsSelected($event)'>
              <option value="">Chọn ngành nghề</option>
              <option *ngFor='let option of lisstnganh' [value]="option.idCategory">{{option.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-control" class="search-box_search_input">
          <label  class="mh">Địa điểm</label>
          <div>
            <span for="nganh" class="fa fa-map-marker-alt large search"></span>
            <select style="border-radius: 100px"  id ="nganh" class="form-control" class=" search-box_search_input" type="text" name="noilam" placeholde="Địa chỉ làm việc" [(ngModel)]="noilam">
              <option value="">Địa điểm làm việc</option>
              <option value="Tp.Đà Nẵng">Tp.Đà Nẵng</option>
              <option value="Tp.Hải Phòng">Tp.Hải Phòng</option>
              <option value="Tp.Hà Nội">Tp.Hà Nội</option>
              <option value="TP  HCM">TP HCM</option>
              <option value="An Giang">An Giang</option>
              <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
              <option value="Bắc Giang">Bắc Giang</option>
              <option value="Bắc Kạn">Bắc Kạn</option>
              <option value="Bạc Liêu">Bạc Liêu</option>
              <option value="Bắc Ninh">Bắc Ninh</option>
              <option value="Bến Tre">Bến Tre</option>
              <option value="Bình Định">Bình Định</option>
              <option value="Bình Dương">Bình Dương</option>
              <option value="Bình Phước">Bình Phước</option>
              <option value="Bình Thuận">Bình Thuận</option>
              <option value="Bình Thuận">Bình Thuận</option>
              <option value="Cà Mau">Cà Mau</option>
              <option value="Cao Bằng">Cao Bằng</option>
              <option value="Đắk Lắk">Đắk Lắk</option>
              <option value="Đắk Nông">Đắk Nông</option>
              <option value="Điện Biên">Điện Biên</option>
              <option value="Đồng Nai">Đồng Nai</option>
              <option value="Đồng Tháp">Đồng Tháp</option>
              <option value="Đồng Tháp">Đồng Tháp</option>
              <option value="Gia Lai">Gia Lai</option>
              <option value="Hà Giang">Hà Giang</option>
              <option value="Hà Nam">Hà Nam</option>
              <option value="Hà Tĩnh">Hà Tĩnh</option>
              <option value="Hải Dương">Hải Dương</option>
              <option value="Hậu Giang">Hậu Giang</option>
              <option value="Hòa Bình">Hòa Bình</option>
              <option value="Hưng Yên">Hưng Yên</option>
              <option value="Khánh Hòa">Khánh Hòa</option>
              <option value="Kiên Giang">Kiên Giang</option>
              <option value="Kon Tum">Kon Tum</option>
              <option value="Lai Châu">Lai Châu</option>
              <option value="Lâm Đồng">Lâm Đồng</option>
              <option value="Lạng Sơn">Lạng Sơn</option>
              <option value="Lào Cai">Lào Cai</option>
              <option value="Long An">Long An</option>
              <option value="Nam Định">Nam Định</option>
              <option value="Nghệ An">Nghệ An</option>
              <option value="Ninh Bình">Ninh Bình</option>
              <option value="Ninh Thuận">Ninh Thuận</option>
              <option value="Phú Thọ">Phú Thọ</option>
              <option value="Quảng Bình">Quảng Bình</option>
              <option value="Quảng Bình">Quảng Bình</option>
              <option value="Quảng Ngãi">Quảng Ngãi</option>
              <option value="Quảng Ninh">Quảng Ninh</option>
              <option value="Quảng Trị">Quảng Trị</option>
              <option value="Sóc Trăng">Sóc Trăng</option>
              <option value="Sơn La">Sơn La</option>
              <option value="Tây Ninh">Tây Ninh</option>
              <option value="Thái Bình">Thái Bình</option>
              <option value="Thái Nguyên">Thái Nguyên</option>
              <option value="Thanh Hóa">Thanh Hóa</option>
              <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
              <option value="Tiền Giang">Tiền Giang</option>
              <option value="Trà Vinh">Trà Vinh</option>
              <option value="Tuyên Quang">Tuyên Quang</option>
              <option value="Vĩnh Long">Vĩnh Long</option>
              <option value="Vĩnh Phúc">Vĩnh Phúc</option>
              <option value="Yên Bái">Yên Bái</option>
              <option value="Phú Yên">Phú Yên</option>
              <option value="Tp.Cần Thơ">Tp.Cần Thơ</option>
            </select>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
<section id="resent-job-post" class="background-color-white-drak">
  <div class="vertical-space-60"></div>
  <div class="container text-center">
    <h4 class="text-left">{{thonbao}}</h4>
    <div class="vertical-space-30"></div>
    <div class="row">
      <div class="col-lg-8 col-md-12"  *ngIf="baidang.length !=0;else elseBlock">
        <div *ngFor="let list of baidang|filter:titleNew|filter:noilam|filter:nganh | paginate: { id: 'listing_pagination',
                                                itemsPerPage: 10,
                                                currentPage: page,
                                                totalItems: totalRec}; let i = index">
          <div class="detail width-100 ">
            <div class="media display-inline text-align-center">
              <img src="{{list.account.image}}" class="mr-3 " style="    width: 100px;   height: 100px;" alt="">
              <div class="media-body text-left  text-align-center">
                <h6><a class="font-color-black" (click)="details(list.idNews)">{{list.title}}</a></h6>
                <i class="large material-icons">account_balance</i>
                <span class="text">{{list.name_nd}}</span>
                <br>
                <i class="large material-icons">place</i>
                <span class="text font-size">{{list.work_loaction}}</span>
                <br/>
                <i class="fa fa-tools large "></i>
                <span class="textn">Ngành {{list.category.name}}</span>
                <div class="float-right margin-top text-align-center">
                  <a class="part-full-time" (click)="details(list.idNews)">Xem chi tiết</a>
<!--                  <p class="date-time">Deadline: {{list.working_time.substr(0, 10)| date:'dd/MM/yyyy'}}</p>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <pagination-controls id="listing_pagination" (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
      <ng-template  #elseBlock>
        <div class="col-lg-8 col-md-12"><h4  style="color: red; margin-left: 30px">không tìm thấy</h4></div>
      </ng-template>
      <div class="col-lg-4 col-md-12" style="float:right;" >
        <div class="Job-Category-box" >
          <p class="title">Các ngành nổi bật</p>
          <ul>
            <li class="list-item1 "><a href="#" class="font-color-black">Công nghệ thông tin</a></li>
            <li class="list-item1 "><a href="#" class="font-color-black">Kinh tế</a></li>
            <li class="list-item1 "><a href="#" class="font-color-black">Bất động sản</a></li>
            <li class="list-item1 "><a href="#" class="font-color-black">Giáo dục</a></li>
            <li class="list-item1 "><a href="#" class="font-color-black">Du lịch</a></li>
          </ul>
        </div>
        <div class="Job-Nature-box">
          <p class="title">Loại hình công việc</p>
          <ul>
            <li class="list-item1 "><a href="#" class="font-color-black">Toàn thời gian</a></li>
            <li class="list-item1 "><a href="#" class="font-color-black">Bán thời gian</a></li>
            <li class="list-item1 "><a href="#" class="font-color-black">Tự do thời gian</a></li>
          </ul>
        </div>
        <div class="Salary-Range-box">
          <p class="title">Mức lương</p>
          <p>
            <input type="text" id="amount1" class="salery-range"> <i class="fa fa-minus minus"></i>
            <input type="text" id="amount2" class="salery-range">
          </p>
          <div id="slider-range"></div>
          <p class="small-title">Trình độ học vấn</p>
          <form action="#" class="search-box_search_form">
            <select class="dropdown_item_select search-box_search_input">
              <option>Sinh viên</option>
              <option>Sinh viên vừa ra trường</option>
              <option>Tự do</option>
            </select>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="vertical-space-60"></div>
</section>
