<header>
  <title>Đăng Bài Chia Sẻ</title>
</header>
<div class="container">
  <div class="col-full push-top">
    <ul class="breadcrumbs">
      <li><a href="/forum"><i class="fa fa-home fa-btn"></i>Trang chủ</a></li>
      <li><a href="/forum">Chủ đề</a></li>
    </ul>
  </div>
  <form class="col-full push-top" [formGroup]="sharepostform">
    <label>Tiêu đề</label>
    <textarea name="title" id="title"  formControlName="title" placeholder="nhập vào tiêu đề bài đăng" style="width: 100%; max-width: 1170px; max-height: 50px;
    height: 50px;
    margin-bottom: 20px;"></textarea>
    <label>Nội dung</label>
    <ckeditor formControlName="content"></ckeditor>

    <button class="btn-green btn-small"  (click)="createsharepost()"> Đăng bài</button>
  </form>

</div>
