<div class="login-right" >
  <div class="container">
    <div class="form-info">
      <div class="login-top" style="">
        <div class="row">
          <div class="#" style="width: 100%">
            <div class="card card-signin my-5" style="border: 0px solid rgba(0,0,0,.125);">
              <div class="card-body" style="background: #f8fbee;">
                <h5 class="card-title text-center">Cài lại mật khẩu</h5>
                <div *ngIf="isSendMail then sent else notSent"></div>
                <ng-template #sent>
                  <div *ngIf="isSuccessful then accepted else denied"></div>
                  <ng-template #accepted>
                    <form class="form-signin" [formGroup]="resetGroup" (ngSubmit)="onSubmit()">
                      <div class="form-label-group">
                        <input formControlName="password" type="password" class="form-control"
                               placeholder="Mật khẩu mới*">
                        <div class="error-place">
                          <div *ngFor="let error of error_messages.password">
                            <small class="text-danger"
                                   *ngIf="resetGroup.get('password')!.hasError(error.type) && (resetGroup.get('password')!.dirty || resetGroup.get('password')!.touched)">
                              {{error.message}}</small>
                          </div>
                        </div>
                      </div>
                      <div class="form-label-group">
                        <input formControlName="confirmpassword" type="password" class="form-control"
                               placeholder="Nhập lại mật khẩu mới*">
                        <div class="error-place">
                          <div *ngFor="let error of error_messages.confirmpassword">
                            <small class="text-danger"
                                   *ngIf="resetGroup.get('confirmpassword')!.hasError(error.type) && (resetGroup.get('confirmpassword')!.dirty || resetGroup.get('confirmpassword')!.touched)">
                              {{error.message}}</small>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="isSubmited then submited else notSubmited"></div>
                      <ng-template #notSubmited>
                        <label class="hvr-sweep-to-right">
                          <input type="submit" value="Cài lại mật khẩu" [disabled]="!resetGroup.valid">
                          <!--              [disabled]="!formGroup.valid"-->
                        </label>

                        <!--                  <button class="btn btn-lg btn-primary text-uppercase" type="submit" [disabled]="!resetGroup.valid">Cài lại mật khẩu</button>-->
                        <!--                  <button class="btn btn-lg btn-secondary text-uppercase" type="button">Huỷ</button>-->
                      </ng-template>
                      <ng-template #submited>
                        <label class="hvr-sweep-to-right">
                          <input type="submit" value="Cài lại mật khẩu" [disabled]="!resetGroup.valid">
                          <!--              [disabled]="!formGroup.valid"-->
                        </label>
                        <!--                  <button class="btn btn-lg btn-primary text-uppercase" type="button" routerLink="/login/dangnhap/client">-->
                        <!--                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
                        <!--                  </button>-->
                      </ng-template>
                    </form>
                  </ng-template>
                  <ng-template #denied>
                    <div class="alert alert-danger" role="alert">
                      Có lỗi xảy ra: đường dần kích hoạt không đúng hoặc mã kích hoạt hết hạn, vui lòng kiểm tra lại hoặc
                      liên hệ bộ phận hỗ trợ để
                      được giúp đỡ
                    </div>
                  </ng-template>
                </ng-template>
                <ng-template #notSent>
                  <div class="alert alert-danger" role="alert">
                    <ul>
                      <li> Bạn cần sử dụng đường dẫn xác thực chúng tôi đã gửi cho bạn!</li>
                      <li>Một email đã được gửi tới địa chỉ Email của bạn, hãy truy cập thư cá nhân và nhấn vào đường dẫn xác
                        thực
                      </li>
                      <li><span><h5>Lưu ý:</h5></span>nếu không tìm thấy hãy tìm trong mục <span> <h5>Thư rác/Spam</h5></span>
                      </li>
                    </ul>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

