<header>
  <title>
    Tạo mới tài khoản
  </title>
</header>
<div class="d-flex flex-column">
  <div id="content">

    <form [formGroup]="contactForm" id="contactForm" class="form-horizontal" role="form">
      <h2>Thêm Tài Khoản</h2>
      <div class="form-group">
        <label for="username" class="col-sm-3 control-label">Tên Đăng Nhập</label>
        <div class="col-sm-9">
          <input formControlName="username" [(ngModel)]="account.username" name="username" type="text" id="username"
                 placeholder="Tên Đăng Nhập" class="form-control" autofocus>
          <div>
            <span style="color:red">Vui Lòng nhập Tên Đăng Nhập</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="passWord" class="col-sm-3 control-label">Mật Khẩu</label>
        <div class="col-sm-9">
          <input formControlName="password" [(ngModel)]="account.password" name="password" type="password" id="password"
                 placeholder="Mật khẩu" class="form-control">
          <div
            *ngIf="!contactForm.controls.password?.valid && (contactForm.controls.password?.dirty) || contactForm.controls.password?.touched">
            <span style="color:red">Vui Lòng nhập Tên Mật khẩu</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="createDate" class="col-sm-3 control-label">Ngày Tạo</label>
        <div class="col-sm-9">
          <input formControlName="createDate" name="createDate" [(ngModel)]="account.createDate" type="date"
                 id="createDate" placeholder="Ngày Tạo" class="form-control">

        </div>
      </div>

      <div class="form-group">
        <label for="fullName" class="col-sm-3 control-label">Họ Và Tên</label>
        <div class="col-sm-9">
          <input formControlName="fullName" name="fullName" [(ngModel)]="account.fullName" type="text" id="fullName"
                 placeholder="Họ Và Tên" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="brithday" class="col-sm-3 control-label">Sinh Nhật</label>
        <div class="col-sm-9">
          <input formControlName="brithday" name="brithday" [(ngModel)]="account.birthday" type="date" id="brithday"
                 placeholder="Sinh Nhật" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="col-sm-3 control-label">Địa chỉ</label>
        <div class="col-sm-9">
          <input formControlName="address" name="address" [(ngModel)]="account.address" type="text" id="address"
                 placeholder="Địa chỉ" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
          <input formControlName="email" name="email" [(ngModel)]="account.email" type="text" id="email"
                 placeholder="Email" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="companyName" class="col-sm-3 control-label">Nơi Làm Việc</label>
        <div class="col-sm-9">
          <input formControlName="companyName" name="companyName" [(ngModel)]="account.companyName" type="text"
                 id="companyName" placeholder="Nơi Làm Việc" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="taxtCode" class="col-sm-3 control-label">Fax</label>
        <div class="col-sm-9">
          <input formControlName="taxtCode" name="taxtCode" [(ngModel)]="account.taxCode" type="text" id="taxtCode"
                 placeholder="Fax" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="link" class="col-sm-3 control-label">Link</label>
        <div class="col-sm-9">
          <input formControlName="link" name="link" [(ngModel)]="account.link" type="text" id="link" placeholder="Link"
                 class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="nameContact" class="col-sm-3 control-label">Tên Liên Hệ</label>
        <div class="col-sm-9">
          <input formControlName="nameContact" name="nameContact" [(ngModel)]="account.nameContact" type="text"
                 id="nameContact" placeholder="Tên Liên Hệ" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="sex" class="col-sm-3 control-label">Giới Tính</label>
        <div class="col-sm-9">
          <select class="form-select" aria-label="Default select example" [(ngModel)]="account.sex"
                  formControlName="sex" name="sex" type="text" id="sex">
            <option value=0>Nam</option>
            <option value=1>Nữ</option>
          </select>
          <!--          <div *ngIf="!contactForm.controls.roleID?.valid && (contactForm.controls.roleID?.dirty) || contactForm.controls.roleID?.touched" >-->
          <!--            <span style="color:red">Vui Lòng Chọn Nhóm Role</span>-->
          <!--          </div>-->
        </div>
        <!--          <input formControlName="roleID" name="roleID" type="text" id="roleID" placeholder="Role ID" class="form-control">-->
      </div>
      <div class="form-group">
        <label id="status" class="col-sm-3 control-label">Trạng Thái</label>
        <div class="col-sm-9">
          <label class="switch">
            <input type="checkbox" name="status" formControlName="status" [(ngModel)]="account.status">
            <span class="slider round"></span>
          </label>
          <td>
        </div>
      </div>

    </form> <!-- /form -->
  </div>
  <div class="col-sm-9">
    <button [disabled]="!contactForm.valid"  data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary btn-block">
      Thêm mới
    </button>
    <div>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Thông Báo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Bạn muốn Thêm tài khoản vào Dữ liệu
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
              <button type="button" class="btn btn-primary" (click)="create()">Thêm mới</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
