<div class="container" style="margin-left: 50px;margin-right: 50px; margin-top: 20px">
  <div class="row">
    <div class="card-body">
      <div class="col-sm-8">
        <div class="col-md-12">
          <a>
            <img
              style="width: 100%; height: 300px; border-radius: 3px; box-shadow: 0 1px 2px rgb(0 0 0); -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1); -webkit-box-shadow: 0 3px 4px rgb(0 0 0);"
              src="https://firebasestorage.googleapis.com/v0/b/gao-internfinder-d778c.appspot.com/o/Capture.PNG?alt=media&token=bbf57c54-3a0b-4303-b6d7-32344a0595c8"
              alt="Tìm việc siêu tốc">
          </a>
        </div>
        <div class="box-content" *ngIf="id_now != null; else disableform">
          <div class="col-lg-12">
            <hr>
            <div class="box-group-body">
              <a class="text-orange" style="text-align: center; margin-top: 20px; margin-bottom: 20px">Danh Sảnh các CV Ứng tuyển vào bài đăng của bạn</a>
              <div id="cv-list" *ngFor="let item of Cv_list |paginate: {itemsPerPage: 3, currentPage: pageOfItems}">
                <div class="box box-white cv no-gutter clearfix">
                  <div class="hidden-xs col-sm-3 col-cv-thumb"><a
                    target="_blank"
                    class="avatar-small"><img
                    src="https://www.topcv.vn/images/cv/screenshots/thumbs/cv-template-thumbnails-v1.1/modern_4.png"
                    class="img-responsive"></a>
                  </div>
                  <div class="col-xs-12 col-sm-9 col-cv-data">
                    <div class="clearfix"><h4 class="cv-title pull-left"><!----> <a
                      [href]="item.url"
                      class="text-highlight bold">{{item.account.fullName}}</a></h4> <span
                      class="cv-date text-gray pull-right"><i
                      aria-hidden="true"
                      class="fa fa-clock-o text-highlight"></i>{{item.create_date | date:'dd/MM/yyyy'}}</span>
                    </div>
                    <div class="cv-url text-gray"><input type="text" [ngModel]="item.url" readonly="readonly"></div>
                    <ul class="cv-action text-dark-gray">
                      <li><a target="_blank" [href]="item.url"
                             class="btn btn-sm bold"><i class="fa fa-eye"></i> Xem</a></li>
                        <li><a data-toggle="modal" data-cv-id="8d19ecc1d387f77a8643e8435662bc99"
                             data-target="#confirmDelete"
                             class="btn btn-sm bold" (click)="deletebyid(item.id_apply)"><i class="fa fa-trash"></i>
                        Xóa</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="box box-white cv no-gutter clearfix box-no-padding"></div>
              </div>
            </div>
            <div class="card-footer pb-0 pt-3">
              <div class="pagination">
                <pagination-controls  (pageChange)="pageOfItems = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
        <ng-template #disableform>
          <h1>Thông tin mang tính bảo mật vui lòng xin cấp quyền</h1>
        </ng-template>
      </div>
      <div class="col-sm-4" id="sidebar">
        <div class="box box-white text-center-sm">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img [src]="account.image||'https://firebasestorage.googleapis.com/v0/b/fir-angular-66583.appspot.com/o/avatar-1577909_1280.png?alt=media&token=d7eeaf14-9686-48ee-b313-973b26c57435' " class="rounded-circle" width="100" height="100"
                   style="display: inline-block">
              <div class="mt-3">
                <h4>{{account.fullName}}</h4>
                <hr>
                <h5 class="text-muted font-size-sm">{{account.companyName}}</h5>
                <p class="text-muted font-size-sm">{{account.postion}}</p>
                <p class="text-muted font-size-sm">{{account.address}}</p>
                <div class="card mt-3">

                  <button class="btn btn-topcv-primary" routerLink="/profile/{{account.id_account}}">Cập nhật thông tin tài khoản</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box box-white text-center-sm">
          <div class="card-body">
            <div class="text-center cv-count-header">
              <div class="text-highlight">
                <strong style="font-size: 20px;">CV của bạn đã đẹp?</strong>
                <p class="text-gray" style="font-size: 13px">Bao nhiêu NTD đang quan tâm tới Hồ sơ của bạn?</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


