<header>
  <title>Đăng Nhập Người Dùng</title>
</header>
<div class="login-right" >
  <div class="container">
    <h3><strong>Đăng Nhập Người Dùng</strong></h3>
    <div class="login-top">

      <div class="form-info" style="">
        <form name="form" (ngSubmit)="onSubmit()" >
          <input name="username" [(ngModel)]="form.username" type="text" class="text" placeholder="Tên Đăng Nhập" >
          <input name="password" [(ngModel)]="form.password" type="password"  placeholder="Mật Khẩu" >
          <div class="custom-control custom-checkbox" style="margin-bottom: 10px;">
            <input formControlName="remember_me" type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1" style="margin-left: 10px;">Lưu tài khoản</label>
          </div>
          <div class="text-right p-t-8 p-b-31" >
            <a href="quenmk.html" routerLink="/login/reset-password">
              Quên mật khẩu?
            </a>
          </div>

          <label class="hvr-sweep-to-right" style="margin-bottom: 15px">
            <input type="submit" value="Đăng nhập">
          </label>
        </form>
        <ul class="login-icons">
          <li><a href="#" ><i class="fa fa-facebook-square" aria-hidden="true" style="padding: 15px"></i>
            <span>Facebook</span></a></li>
          <li><a href="#" class="go"><i class="fa fa-google-plus-square" aria-hidden="true" style="padding: 15px"></i>
            <span>Google +</span></a></li>
          <div class="clearfix"> </div>
        </ul>
      </div>

      <div class="create">

        <a class="hvr-sweep-to-right" href="login/dangky/  sinhvien">Đăng Ký Tài Khoản Sinh viên</a>
        <a class="hvr-sweep-to-right" href="login/dangky/nhatuyendung">Đăng Ký Tài Khoản Nhà Tuyển Dụng</a>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
