  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <!-- /.container-fluid -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6"><h2 class="h3 mb-2 text-gray-900">Danh sách mẫu CV</h2></div>
          <div class="col-md-6" ><button class="btn btn-primary" style="margin-left: 350px" ><a href="admin/quanlymaucv/create" style="color: #f6f6f6"><i class="fas fa-plus"> Thêm mới</i></a></button> </div>
        </div>
        <div id="template-list">
          <div class="row">
            <div class="col-md-4 template_cv">
              <div class="template-cv-item box-shadow">
                <div class="cv-img">
                  <a href="#">
                    <div class="delete-template">
                      <i class="fas fa-times"></i>
                    </div>
                    <div class="edit-delete-template">
                      <i class="fas fa-pen"></i>
                    </div>
                  </a>
                  <a href="admin/quanlymaucv/detail">
                    <img src="/assets/admin/images/cv-xin-viec%20(19).jpg" height="1200" width="614" alt="Mẫu mới 1" title="Mẫu CV mới hiện đại năng 2020" class=""/>
                  </a>
                </div>
                <div class="template-cv-item-info">
                  <div class="template-cv-title"><a href="#" title="Mẫu CV hiện đại 5">Mẫu CV mới 1</a></div>

                </div>
              </div>
            </div>
            <div class="col-md-4 template_cv">
              <div class="template-cv-item box-shadow">
                <div class="cv-img">
                  <a href="#">
                    <div class="delete-template">
                      <i class="fas fa-times"></i>
                    </div>
                    <div class="edit-delete-template">
                      <i class="fas fa-pen"></i>
                    </div>
                  </a>
                  <a href="admin/quanlymaucv/detail">
                    <img src="/assets/admin/images/mau-cv-xin-viec-ngan-hang.jpg" height="1200" width="614" alt="Mẫu mới 1" title="Mẫu CV mới hiện đại năng 2020" class=""/>
                  </a>
                </div>
                <div class="template-cv-item-info">
                  <div class="template-cv-title"><a href="#" title="Mẫu CV hiện đại 5">Mẫu CV mới 1</a></div>

                </div>
              </div>
            </div>
            <div class="col-md-4 template_cv">
              <div class="template-cv-item box-shadow">
                <div class="cv-img">
                  <a href="admin/quanlymaucv/detail">
                    <div class="delete-template">
                      <i class="fas fa-times"></i>
                    </div>
                    <div class="edit-delete-template">
                      <i class="fas fa-pen"></i>
                    </div>
                  </a>
                  <a href="#">
                    <img src="/assets/admin/images/mau-cv-xin-viec-ngan-hang.jpg" height="1200" width="614" alt="Mẫu mới 1" title="Mẫu CV mới hiện đại năng 2020" class=""/>
                  </a>
                </div>
                <div class="template-cv-item-info">
                  <div class="template-cv-title"><a href="#" title="Mẫu CV hiện đại 5">Mẫu CV mới 1</a></div>

                </div>
              </div>
            </div>
            <div class="col-md-4 template_cv">
              <div class="template-cv-item box-shadow">
                <div class="cv-img">
                  <a href="#">
                    <div class="delete-template">
                      <i class="fas fa-times"></i>
                    </div>
                    <div class="edit-delete-template">
                      <i class="fas fa-pen"></i>
                    </div>
                  </a>
                  <a href="#">
                    <img src="/assets/admin/images/cv-xin-viec%20(19).jpg" height="1200" width="614" alt="Mẫu mới 1" title="Mẫu CV mới hiện đại năng 2020" class=""/>
                  </a>
                </div>
                <div class="template-cv-item-info">
                  <div class="template-cv-title"><a href="#" title="Mẫu CV hiện đại 5">Mẫu CV mới 1</a></div>

                </div>
              </div>
            </div>
            <div class="col-md-4 template_cv">
              <div class="template-cv-item box-shadow">
                <div class="cv-img">
                  <a href="#">
                    <div class="delete-template">
                      <i class="fas fa-times"></i>
                    </div>
                    <div class="edit-delete-template">
                      <i class="fas fa-pen"></i>
                    </div>
                  </a>
                  <a href="admin/quanlymaucv/detail">
                    <img src="/assets/admin/images/mau-cv-xin-viec-ngan-hang.jpg" height="1200" width="614" alt="Mẫu mới 1" title="Mẫu CV mới hiện đại năng 2020" class=""/>
                  </a>
                </div>
                <div class="template-cv-item-info">
                  <div class="template-cv-title"><a href="admin/quanlymaucv/detail" title="Mẫu CV hiện đại 5">Mẫu CV mới 1</a></div>

                </div>
              </div>
            </div>
            <div class="col-md-4 template_cv">
              <div class="template-cv-item box-shadow">
                <div class="cv-img">
                  <a href="#">
                    <div class="delete-template">
                      <i class="fas fa-times"></i>
                    </div>
                    <div class="edit-delete-template">
                      <i class="fas fa-pen"></i>
                    </div>
                  </a>
                  <a href="#">
                    <img src="/assets/admin/images/cv-xin-viec%20(19).jpg" height="1300" width="700" alt="Mẫu mới 1" title="Mẫu CV mới hiện đại năng 2020" class=""/>
                  </a>
                </div>
                <div class="template-cv-item-info">
                  <div class="template-cv-title"><a href="#" title="Mẫu CV hiện đại 5">Mẫu CV mới 1</a></div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <!-- End of Footer -->
    </div>
  </div>

